[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:syl20bnr/spacemacs
[submodule "doom-emacs/dot-emacs.d"]
	path = doom-emacs/.config/emacs
	url = git@github.com:doomemacs/doomemacs
